.category-details {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .category-header {
        padding: 10px 10px 0;
        display: flex;

        .category-header-text {
            font-size: 22px;
        }
    }

    .page-action-buttons {
        margin-left: auto;

        > button {
            margin-left: 20px
        }
    }
}
