<div>
    <div class="table-header">
        <h2 class="table-header-text">Stocks</h2>

        <div class="table-filter">
            <mat-form-field class="filter-form-field">
                <input matInput placeholder="Name" [(ngModel)]="name" (change)="loadStocks()">
            </mat-form-field>
            <mat-form-field class="filter-form-field">
                <input matInput placeholder="Symbol" [(ngModel)]="symbol" (change)="loadStocks()">
            </mat-form-field>
        </div>
    </div>

    <table mat-table [dataSource]="stocks" matSort (matSortChange)="sort($event)" matSortDisableClear="true" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
            <th mat-header-cell mat-sort-header="position" *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell mat-sort-header="Name" *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell mat-sort-header="Symbol" *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
        </ng-container>

        <ng-container matColumnDef="exchange">
            <th mat-header-cell mat-sort-header="Exchange" *matHeaderCellDef class="exchange-cell-header"> Exchange </th>
            <td mat-cell *matCellDef="let element" class="exchange-cell"> {{element.exchange}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25, 50]" [length]="totalSize"
        [pageIndex]="pageNumber" (page)="paginate($event)">
    </mat-paginator>
</div>
