<h2 mat-dialog-title>Add asset</h2>

<mat-dialog-content class="mat-typography add-form">
    <form (ngSubmit)="onSave()" [formGroup]="assetForm">
        <mat-form-field>
            <input matInput placeholder="Allocation" formControlName="allocation" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Asset" formControlName="asset" [matAutocomplete]="assetsAutocomplete" required>

            <button *ngIf="assetForm.get('asset')?.value" matSuffix mat-icon-button aria-label="Clear" type="button" (click)="clearSelection()">
                <mat-icon>close</mat-icon>
            </button>

            <mat-autocomplete #assetsAutocomplete="matAutocomplete" (optionSelected)="onSelected($event.option.value)">
                <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>

                <ng-container *ngIf="!isLoading">
                    <mat-option *ngFor="let asset of assets" [value]="asset">
                        <span>{{asset.name}} ({{asset.symbol}})</span>
                    </mat-option>
                </ng-container>
            </mat-autocomplete>
        </mat-form-field>

        <input type="submit" hidden />
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button type="submit" (click)="onSave()" [disabled]="assetForm.invalid">Save</button>
</mat-dialog-actions>
