mat-sidenav-container {
    mat-sidenav {
        width: 250px;
        border-right: none;
        padding: 32px 16px 16px 16px;
        text-align: center;
    }

    mat-sidenav-content .sidenav-content {
        min-height: calc(100vh);
        font-size: 2rem;

        app-header {
            display: block;
        }

        .content {
            padding: 10px;
            height: 100%;
        }
    }
}
