<h2 mat-dialog-title>Select categories</h2>

<mat-dialog-content class="mat-typography">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="categories-tree" #categoriesTree>
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <mat-checkbox color="primary" [checked]="node.category.isSelected" [indeterminate]="node.category.isPartiallySelected"
                (click)="selectCategory(node.category, $event)">
                {{node.category.name}}
            </mat-checkbox>
        </mat-tree-node>
    </mat-tree>
</mat-dialog-content>

<mat-dialog-actions align="end" class="dialog-actions">
    <button mat-button mat-dialog-close>Close</button>
    <button mat-button (click)="onCompare()">Compare</button>
</mat-dialog-actions>
