.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    font-size: 30px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.7);
}

.account-information {
    margin-top: 24px;

    .name-block {
        position: relative;
        cursor: pointer;

        &:hover .select-account {
            visibility: visible;
        }

        .select-account {
            position: absolute;
            visibility: hidden;
            opacity: 0.8;
            right: 0;
            top: -5px;
            font-size: 18px;
        }

        .name {
            font-weight: normal;
            font-size: 24px;
            display: inline;
        }
    }
    
    .description {
        margin-top: 2px;
        font-size: 14px;
    }
}

mat-divider {
    margin-bottom: 10px;
}

mat-expansion-panel {
    margin: 0;

    mat-expansion-panel-header {
        font-size: 24px;

        ::ng-deep span {
            overflow: initial;
        }
    }

    .menu-button {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 20px;
        margin-bottom: 5px;
    
        mat-icon {
            margin-right: 8px;
        }
    }
}
