<a class="closebtn" (click)="closeSidebar()">
    <i class="fas fa-times"></i>
</a>

<div class="account-information">
    <div class="name-block" (click)="selectAccount()">
        <i class="far fa-user-circle select-account"></i>
        <h4 class="name">{{ selectedAccount.name }}</h4>
    </div>
    <p class="description">{{ selectedAccount.description }}</p>
</div>

<mat-divider></mat-divider>

<mat-accordion>
    <mat-expansion-panel class="mat-elevation-z" hideToggle>
        <mat-expansion-panel-header>Assets</mat-expansion-panel-header>

        <button mat-button routerLink="/stocks" class="menu-button">
            <span>Stocks</span>
        </button>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z" hideToggle>
        <mat-expansion-panel-header>Equity</mat-expansion-panel-header>

        <button mat-button routerLink="/transfers" class="menu-button">
            <span>Transfers</span>
        </button>
        <button mat-button class="menu-button">
            <span>Dividends</span>
        </button>
    </mat-expansion-panel>

    <mat-expansion-panel class="mat-elevation-z" hideToggle>
        <mat-expansion-panel-header>Settings</mat-expansion-panel-header>

        <button mat-button routerLink="/accounts" class="menu-button">
            <span>Accounts</span>
        </button>
    </mat-expansion-panel>
</mat-accordion>
