<div *ngIf="category != null; else emptyTable" class="categories">
    <div class="list-header">
        <h2 class="list-header-text">Categories</h2>

        <div class="list-actions">
            <button mat-raised-button (click)="onSave()" [disabled]="!isChanged || isSaving">Save</button>
        </div>
    </div>

    <div class="categories-details mat-elevation-z4">
        <app-category-tree [categoryItem]="category" #categoryTree></app-category-tree>

        <div class="category-item-details" *ngIf="loadedAssetStatistics" [ngStyle]="{'width': contentBlockWidth}">
            <app-category-item></app-category-item>
        </div>
    </div>
</div>

<ng-template #emptyTable>
    <h2 class="mt-3 text-center mat-h2">You don't have any categories yet</h2>
</ng-template>
