<div class="category-details" #blockHeight>
    <div class="category-header">
        <h2 class="category-header-text">{{category.name}}</h2>
    </div>

    <div class="sub-categories-block" *ngIf="category.subCategories.length > 0">
        <div class="charts-block">
            <div class="category-pie" #allocationCategoryPie>
                <h3 class="category-pie-title">Allocation</h3>
                <ngx-charts-pie-chart [view]="[allocationCategoryPie.offsetWidth, 400]" [scheme]="pieOptions.colorScheme" [results]="categoryAllocations" [gradient]="pieOptions.gradient"
                    [legend]="pieOptions.showLegend" [legendPosition]="pieOptions.legendPosition" [labels]="pieOptions.showLabels" [doughnut]="pieOptions.isDoughnut">
                </ngx-charts-pie-chart>
            </div>

            <div class="category-pie" #expectedCategoryPie>
                <h3 class="category-pie-title">Expected allocation</h3>
                <ngx-charts-pie-chart [view]="[expectedCategoryPie.offsetWidth, 400]" [scheme]="pieOptions.colorScheme" [results]="categoryExpectedAllocations" [gradient]="pieOptions.gradient"
                    [legend]="pieOptions.showLegend" [legendPosition]="pieOptions.legendPosition" [labels]="pieOptions.showLabels" [doughnut]="pieOptions.isDoughnut">
                </ngx-charts-pie-chart>
            </div>
        </div>
    </div>

    <div class="stocks-block" *ngIf="category.stocks.length > 0">
        <h3 class="mt-3 text-center mat-h3">Stocks will be here.</h3>
    </div>

    <ng-container *ngIf="category.stocks.length == 0 && category.subCategories.length == 0">
        <h3 class="mt-3 text-center mat-h3">You don't have any stocks or cateogries.</h3>
    </ng-container>
</div>
