.report-form-group {
    padding-bottom: 1.25em;

    .file-name {
        margin-left: 20px;
        vertical-align: middle;
    }
}

.invalid-orders-table {
    .title {
        font-size: 16px;
        margin-bottom: 5px;
        display: inline-block;
    }

    .mat-cell, .mat-header-cell {
        text-align: center;
    }
}
