table {
    width: 100%;

    .mat-row {
        cursor: pointer;
    }
    
    .edit-header-cell {
        text-align: center;
    }

    .edit-cell {
        width: 100px;

        button {
            width: 100%;
        }
    }
}

.accounts-edit-buttons {
    width: 100%;

    button {
        margin: 15px 10px;
    }
}