<div>
    <div class="list-header">
        <h2 class="list-header-text">Assets</h2>

        <div class="list-filter">
            <mat-form-field class="filter-form-field">
                <mat-select placeholder="Type" [(ngModel)]="type" (selectionChange)="loadAssets()">
                    <mat-option value="">*</mat-option>
                    <mat-option value="IndexFund">Index funds</mat-option>
                    <mat-option value="Stock">Stocks</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <mat-accordion hideToggle multi *ngIf="assets.length > 0; else emptyTable">
        <mat-expansion-panel *ngFor="let asset of assets" class="asset-panel">
            <mat-expansion-panel-header class="asset-header">
                <img [src]="getLogo(asset)" class="rounded-circle" [alt]="asset.name" />

                <div class="name-details">
                    <h3 class="symbol">{{ asset.symbol }}</h3>
                    <h2 class="name">{{ asset.name }}</h2>
                </div>

                <div class="price-details">
                    <div>
                        <p>Price per share: {{ asset.assetStatistics?.currentPrice | number: '1.0-2' }}</p>
                        <p>Number of shares: {{ numberOfShares(asset) }}</p>
                    </div>
                    <div>
                        <p>Total price: {{ totalPrice(asset) | number: '1.0-2' }}</p>
                        <p>Total invested: {{ invested(asset) | number: '1.0-2' }}</p>
                    </div>
                </div>
            </mat-expansion-panel-header>

            <table mat-table [dataSource]="asset.orders" class="orders-table">
                <ng-container matColumnDef="position">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>

                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>

                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef> Price </th>
                    <td mat-cell *matCellDef="let element"> {{element.price | number: '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <th mat-header-cell *matHeaderCellDef> Amount </th>
                    <td mat-cell *matCellDef="let element"> {{element.amount | number: '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef> Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.price * element.amount | number: '1.0-2'}} </td>
                </ng-container>

                <ng-container matColumnDef="dateTime">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.dateTime | date: 'dd/MM/yyyy HH:mm'}} </td>
                </ng-container>

                <ng-container matColumnDef="commission">
                    <th mat-header-cell *matHeaderCellDef> Commission </th>
                    <td mat-cell *matCellDef="let element"> {{element.commission | number: '1.0-2'}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </mat-expansion-panel>
    </mat-accordion>
</div>

<ng-template #emptyTable>
    <h2 class="mt-3 text-center mat-h2">You don't have any assets yet</h2>
</ng-template>

