@import '~ngx-toastr/toastr';

@import "~bootstrap/scss/bootstrap.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

main>.container {
    padding: 35px 0;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.list-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px;

    .list-header-text {
        font-size: 24px;
    }

    .list-filter {
        font-size: 14px;

        .filter-form-field {
            width: 180px;
            margin-left: 20px;
        }
    }
}

table {
    width: 100%;

    .mat-row {
        cursor: pointer;
    }

    .actions-header-cell {
        text-align: center;
        width: 250px;
    }

    td.mat-cell.action-cell {
        display: flex;
        padding: 6px 12px 6px 0;
        width: 250px;

        button {
            width: 100%;
            margin-right: 8px;
            display: inline-block;
        }
    }
}

.edit-buttons {
    width: 100%;

    button {
        margin: 15px 10px;
    }
}

.add-form form,
.edit-form form {
    display: flex;
    flex-direction: column;
    font-size: 16px;

    .ng-invalid:not(form),
    .ng-valid:not(form) {
        border: none;
    }

    mat-radio-group {
        display: flex;
        justify-content: space-around;
        position: relative;
        text-align: left;
        padding: 10px 0 1.25em 0;
    }

    .mat-form-field-flex {
        padding-top: 0;
    }
}

.dialog-actions button {
    font-size: 18px;
}
