.category-details {
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;

    .category-header {
        padding: 10px 10px 0;
        display: flex;

        .category-header-text {
            font-size: 22px;
        }
    }

    .page-action-buttons {
        margin-left: auto;

        > button {
            margin-left: 20px
        }
    }
}

.charts-block {
    width: 100%;
    display: flex;

    .allocation-pie {
        min-width: 50%;

        &.full-width {
            min-width: 100%;
        }

        .allocation-pie-title {
            margin-bottom: 0;
            text-align: center;
            font-size: 20px;
        }
    }
}

.asset-comparission-block {
    flex-grow: 1;
}
