<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="categories-tree"
    [ngStyle]="{'width': treeBlockWidth}" #categoriesTree>
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding (click)="onNodeSelect(node)">
        <button mat-icon-button disabled></button>
        {{node.category.name}}
    </mat-tree-node>

    <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding (click)="onNodeSelect(node)">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.category.name">
            <mat-icon class="mat-icon-rtl-mirror">{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </button>
        {{node.category.name}}
    </mat-tree-node>
</mat-tree>
